.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.button {
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  background-color: white;
  color: black;
  font-size: 14px;
  letter-spacing: 5px;

  text-transform: uppercase;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.img-responsive {
  max-width: 100%;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}
.grid-3-col-first-with-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.secondary {
  background-color: #f8f8f8;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  border: none;
}
.card-header {
  padding: 0;
  border: none;
  background-color: white;
}
.card-body {
  padding: 30px;
}
.card-button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
  background-color: #462cb2;
}

section {
  padding: 80px;
}

header {
  padding: 170px 150px;

  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/lisbon.png");

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  color: white;
}

header h2 {
  font-weight: 400;
  font-size: 40px;

  color: white;
}

main h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 30%;
}

main h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #272044;
}

main h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #272044;
}

main h5 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  color: #272044;
}

main p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #272044;
  opacity: 70%;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footer.png");
  background-repeat: none;
  background-size: cover;
  color: white;
  padding: 30px;
}

footer h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
}

footer ul {
  margin: 0 auto;
  padding: 0;
}

footer li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  list-style: none;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}

@media (max-width: 900px) {
  header {
    padding: 30px;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 12px;
  }
  .header-buttom {
    font-size: 8px;
    padding: 8px 16px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  section {
    padding: 20px;
    text-align: center;
  }
}
