.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  padding: 170px 150px;

  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/lisbon.png");

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}

header h1 {
  font-weight: 700;
  font-size: 80px;
  color: white;
}

header h2 {
  font-weight: 400;
  font-size: 40px;

  color: white;
}

.header-buttom {
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  background-color: white;
  color: black;
  font-size: 14px;
  letter-spacing: 5px;

  text-transform: uppercase;
  text-decoration: none;
}

footer section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/footer.png");
  background-repeat: none;
  background-size: cover;
  color: white;
  padding: 100px 0;
  opacity: 0.9;
}

footer h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
}

footer ul {
  margin: 0 auto;
  padding: 0;
}

footer li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  list-style: none;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 18px;
  }
  header h3 {
    font-size: 12px;
  }

  .header-buttom {
    font-size: 8px;
    padding: 8px 16px;
  }
}
